.page-header__content {
  display: flex;
  justify-content: space-between;
  min-height: 5.2rem;
  padding: 1.2rem 0;
}

.page-header__left {
  align-self: center;
  margin-right: 0.8rem;
}

.page-header__title {
  margin: 0;

  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.025rem;
}

.page-header__title_dim {
  color: var(--gray-text-color);
}

.page-header__buttons-group {
  display: flex;
}

.page-header__buttons-group .button + .button {
  margin-left: 0.8rem;
}

@media (min-width: 768px) {
  .page-header__content {
    padding: 1rem 0;
  }

  .page-header__title {
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) {
  .page-header__title {
    font-size: 2.4rem;
    line-height: 1.2;
  }
}
