.page-footer {
  background-color: var(--gray-bg-color);
}

.page-footer__content {
  padding: 1.2rem 0;

  line-height: 1.4;
}

.page-footer__links {
  display: flex;
  margin-bottom: 0.8rem;
}

.page-footer__link {
  margin-right: 1.2rem;
}

.page-footer__copyright {
  color: var(--link-color);
}
