.settings {
  padding-top: 0.8rem;
}

.settings__title {
  margin: 0;
  margin-bottom: 0.8rem;

  font-size: 1.5rem;
  line-height: 1.35;
}

.settings__description {
  margin: 0;
  margin-bottom: 1.2rem;

  line-height: 1.4;
  color: var(--gray-text-color);
}

.settings__form .text-input__wrap {
  max-width: none;
}

.settings__form .text-input_inline .text-input__wrap {
  max-width: 5.2rem;
}

.settings__form .text-input_inline .text-input__input {
  text-align: right;
}

.settings__form input::-webkit-outer-spin-button,
.settings__form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;

  margin: 0;
}

.settings__form input[type=number] {
  -moz-appearance: textfield;
}

.settings__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.settings__buttons .button {
  margin-bottom: 1.2rem;
}

.settings__buttons .button__content {
  justify-content: center;
}

.message {
  margin: 0;
  margin-top: 0.8rem;
}

@media (min-width: 576px) {
  .settings__description {
    margin-bottom: 2rem;
  }

  .settings__form {
    max-width: 47.4rem;
  }

  .settings__form .text-input_inline {
    margin-top: 2rem;
  }

  .settings__buttons {
    flex-direction: row;
    margin-top: 2.4rem;
  }

  .settings__buttons .button {
    margin-right: 0.8rem;
    margin-bottom: 0;
  }
}
